.calum {
    padding: 5px 20px;
    border-radius: 2px;
    text-align: center;
    color: #fff;
}


.row0 {
    background-color: #1c1d20;
}

.row1 {
    background-color: #50515a;
}

.row2 {
    background-color: rgb(55, 57, 65);
}

.hide {
    display: none;
}

.popupBackground {
    position: fixed;
    background-color: #1c1d2080;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 10% 0px;
}

.PostData {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    width: 600px;
    border: 1.5px solid #585858;
    border-radius: 10px;
}

.postContents {
    background-color: #ffffff;
    margin: 10px 0px;
    font-size: large;
    font-weight: bold;
}

.postRowContent {
    display: flex;
    justify-content: start;
}

button{
    background-color: #302f2f;
    border-radius: 20px;
    border: 1.5px solid #cecece;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
}

.editButton {
    border-radius: 20px;
    width: 50px;
}

#postTag {
    height: 320px;
    overflow-y: scroll;
    border: 1.5px solid #888585;
    border-radius: 3px;
    font-weight: normal;
}

.sumText{
    font-size: xx-large;
    font-weight: bold;
    margin: 20px;
}

.term{
    border-radius: 10px;
    border: 1.5px solid #202020;
    font-weight: bold;
    margin: 7px;
    height: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.termText {
    font-size: large;
    font-weight: bold;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}


input[type="date"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

input[type="date"]::-webkit-clear-button{
  -webkit-appearance: none;
}

input[type="date"]{
 
  position: relative;
}

.TagSelect{
    position: relative;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    width: 200px;
    border: 1.5px solid #585858;
    border-radius: 10px;
}

.TagSelectBodyScroll{    
    height: 400px;
    margin-top: 10px;
    overflow-y: scroll,clip;
}


.LikeButton{
    background-color: #302f2f;
    border-radius: 20px;
    border: 1.5px solid #cecece;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
}

body{
    font-family:sans-serif;
    font-weight: bold;
}